/* css file of mini calculator */
.calculator		/* main container settings */
			{
				width: 300px;
				padding-bottom: 15px;
				border-radius: 7px;
				background-color: #6b6b6b;
				box-shadow:1px 2px 3px 8px rgba(235, 6, 6, 0.948); 
				margin:auto;
			}
			.display		/* text box settings */
			{
				width: 280px;
				height: 60px;   
				padding: 10px;
				font-size: 25px;
				background-color: white;
				color: rgb(3, 3, 3);
				text-align: right;
				border: none;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
			.row	/* buttons alignment */
			{
				display:flex;
				justify-content: space-between;
			}
			button {		/* buttons designing */
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 5px solid red;
				outline: none;
				font-size: 24px;
				background-color:white;
				color:#011a99;
				margin: 10px;
			}
			button:hover {
				cursor:pointer;
				background-color:#cccccc;
			}
			.operator {		/* operator buttons styles */
				color:#000fff;
			}
            h1 {
                text-align: center;
                color: cadetblue;
                margin-bottom: 50px;
            }
            h2 {
                padding-left: 30px;
                margin-top: 50px;
            }
            .calculator-desc 
            {
                text-align: justify; 
                font-size: 16px; 
                line-height: 1.6;
                max-width: 800px;
                margin: 20px;
                padding: 5px;
            }
